{% extends "base.html" %}

{% block title %}Astrology & a half{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    body {
      background-color: #9d7e61;
    }
  </style>

{% endblock %}

{% block content %}
  <div id="header">
    <h1>What's your Sign?</h1>
    <p>If you're unsure, use <a href="https://www.horoscopedates.com/star-sign/"><b>this</b></a> calculator to find out which sign you are.</p>
  </div>

  <form action="/confirm" method="post">
    <div id="menu">

      <div>
        <ol class="menu-items">
          {% for burger in burgers %}
          <li>
            <input type="number" min="0" name="{{ burger[0] }}" autocomplete="off"/>
            {{ burger[0] }} <span class="price">{{ burger[1] }}</span>
          </li>
          {% endfor %}
        </ol>
      </div>

    </div>

    <div id="order-details">
      <p>
        <label for="name">Name:</label>
        <input type="text"id="name"name="name"required />
      </p>
      <p>
        <label for="address">Address and delivery instructions:</label>
        <textarea id="address"name="address"rows="6"required>
        </textarea>
      </p>
      <input type="submit"value="order"class="btn-yellow" />
    </div>
  </form>
{% endblock %}
