/* id selector (one-off items) */
/**{
  outline: 1px solid red;
}*/

@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

#logo {
  padding-left: 25px;
  width: 320px;
}

#header {
  background-color: #DFE;
  background-image: url(checks.svg), url(checks.svg);
  background-position: top, bottom;
  background-repeat: repeat-x;
  background-size: 35px;
  border-bottom: white 10px solid;
  margin-bottom: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

body {
  background-color: #600;
  color: #2A8;
  font-family: 'Monda', sans-serif;
  margin: 0;
}

h1 {
  color: #B00;
  font-family: 'Yellowtail', cursive;
  font-size: 3em;
  margin: 0;
}

h2 {
  color: #B00;
  font-family: 'Yellowtail', cursive;
}

a {
  color: #DA0;
  text-decoration: none;
}

#menu {
  background-color: white;
  background-image: url(menu-bg.svg);
  background-size: 46px;
  border-bottom: #2A8 10px solid;
  border-top: #2A8 4px solid;
  display: grid;
  margin: auto;
  max-width: 1140px;
  padding: 20px 0;
  padding-bottom: 2.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#menu h1 {
  grid-column: span 3;
  padding-bottom: 0.3em;
  text-align: center;
}

#menu h2 {
  margin-top: 0.5 e,;
  text-align: center;
}

#menu ol,
#menu ul {
  padding-left: 2em;
}

#menu li {
  margin-top: 0.4 em;
  width: 100%;
}

#menu .price {
  float: right;
  padding-right: 1em;
}
